<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>About</title>
    <link rel="stylesheet" th:href="@{../assets/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{../assets/bootstrap/css/bootstrap-grid.min.css}">
    <link rel="stylesheet" th:href="@{../assets/bootstrap/css/bootstrap-reboot.min.css}">
    <link rel="stylesheet" th:href="@{../assets/dropdown/css/style.css}">
    <link rel="stylesheet" th:href="@{../assets/socicon/css/styles.css}">
    <link rel="stylesheet" th:href="@{../assets/theme/css/style.css}">

    <!--    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />-->
    <!--    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700" rel="stylesheet" type="text/css" />-->
    <!-- Core theme CSS (includes Bootstrap)-->

    <link rel="preload"
          href="https://fonts.googleapis.com/css?family=Bellota+Text:300,300i,400,400i,700,700i&display=swap" as="style"
          onload="this.onload=null;this.rel='stylesheet'">
    <noscript>
        <link rel="stylesheet"
              href="https://fonts.googleapis.com/css?family=Bellota+Text:300,300i,400,400i,700,700i&display=swap">
    </noscript>
    <link rel="preload" as="style" th:href="@{../assets/mobirise/css/mbr-additional.css}">
    <link rel="stylesheet" th:href="@{../assets/mobirise/css/mbr-additional.css}" type="text/css">
</head>
<body>
<link th:replace="~{/fragments/navbar :: navbar}"/>

<section data-bs-version="5.1" class="header1 cid-sFGMfPD7iT89" id="header1-0">
    <div class="mbr-overlay" style="opacity: 0.7; background-color: rgb(255, 255, 255);"></div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-7">
                <h1 class="mbr-section-title mbr-fonts-style mb-3 display-1">
                    <strong>About</strong>
                </h1>
                <p class="mbr-text mbr-fonts-style display-7">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Aenean molestie porta massa, in pretium ante auctor ac. Fusce at mi.<br>
                </p>
            </div>
        </div>
    </div>
</section>
<section data-bs-version="5.1" class="gallery2 cid-tBbIozPGXP" id="gallery2-w">
    <div class="container">
        <div class="mbr-section-head">
            <p class="mbr-section-subtitle mbr-fonts-style align-center mb-0 mt-2 display-5"
               style="font-size: 25px; padding-left: 250px; padding-right: 250px; margin-bottom: 30px">
                Capture the world through your lens and share your passion for photography with our vibrant community.
                Whether you are an amateur or a professional, this is the perfect platform to showcase your skills and
                creativity. Join us in celebrating the art of photography and be part of our exciting photo contest.
            </p>
            <p class="mbr-section-subtitle mbr-fonts-style align-center mb-0 mt-2 display-5"
               style="font-size: 25px; padding-left: 250px; padding-right: 250px; margin-bottom: 30px">
                Join us in our Photo Contest section and showcase your photography skills to a wide audience. We look
                forward to seeing your breathtaking images and celebrating the beauty of photography together!
            </p>
        </div>
    </div>
    <br>
    <br>
    <br>
    <section class="page-section bg-light" id="team">
        <div class="container">
            <div class="text-center">
                <h2 class="section-heading text-uppercase">Our Amazing Team</h2>
                <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="team-member">
                        <img class="mx-auto rounded-circle" src="/assets/img/team/1.jpg" alt="..." />
                        <h4>Ivaylo Iliev</h4>
                        <p class="text-muted">Front end developer</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="team-member">
                        <img class="mx-auto rounded-circle" src="/assets/img/team/Geri1.jpg" alt="..." />
                        <h4>Gergana Todorova</h4>
                        <p class="text-muted">Database developer</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="team-member">
                        <img class="mx-auto rounded-circle" src="/assets/img/team/Drago.jpg" alt="..." />
                        <h4>Dragomir Vetsev</h4>
                        <p class="text-muted">Back end developer</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 mx-auto text-center"><p class="large text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut eaque, laboriosam veritatis, quos non quis ad perspiciatis, totam corporis ea, alias ut unde.</p></div>
            </div>
        </div>
    </section>
</section>

<script th:src="@{../assets/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{../assets/smoothscroll/smooth-scroll.js}"></script>
<script th:src="@{../assets/ytplayer/index.js}"></script>
<script th:src="@{../assets/dropdown/js/navbar-dropdown.js}"></script>
<script th:src="@{../assets/theme/js/script.js}"></script>
</body>
</html>