<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Contacts</title>
  <link rel="stylesheet" th:href="@{../assets/bootstrap/css/bootstrap.min.css}">
  <link rel="stylesheet" th:href="@{../assets/bootstrap/css/bootstrap-grid.min.css}">
  <link rel="stylesheet" th:href="@{../assets/bootstrap/css/bootstrap-reboot.min.css}">
  <link rel="stylesheet" th:href="@{../assets/dropdown/css/style.css}">
  <link rel="stylesheet" th:href="@{../assets/socicon/css/styles.css}">
  <link rel="stylesheet" th:href="@{../assets/theme/css/style.css}">
  <link rel="preload"
        href="https://fonts.googleapis.com/css?family=Bellota+Text:300,300i,400,400i,700,700i&display=swap" as="style"
        onload="this.onload=null;this.rel='stylesheet'">
  <noscript>
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Bellota+Text:300,300i,400,400i,700,700i&display=swap">
  </noscript>
  <link rel="preload" as="style" th:href="@{../assets/mobirise/css/mbr-additional.css}">
  <link rel="stylesheet" th:href="@{../assets/mobirise/css/mbr-additional.css}" type="text/css">
</head>
<body>

<link th:replace="~{/fragments/navbar :: navbar}"/>

<section data-bs-version="5.1" class="header1 cid-sFGMfPD7iTContact" id="header1-0">
  <div class="mbr-overlay" style="opacity: 0.7; background-color: rgb(255, 255, 255);"></div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-7">
        <h1 class="mbr-section-title mbr-fonts-style mb-3 display-1">
          <strong>Contact Us</strong>
        </h1>
        <p class="mbr-text mbr-fonts-style display-7">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          Aenean molestie porta massa, in pretium ante auctor ac. Fusce at mi.<br>
        </p>
      </div>
    </div>
  </div>
</section>





<section data-bs-version="5.1" class="contacts1 cid-tBzIyMrdm1" id="contacts1-a">
  <div class="container">
    <div class="row justify-content-center mt-4">
      <div class="card col-12 col-lg-6">
        <div class="card-wrapper">
          <div class="card-box align-center">
            <div class="image-wrapper">
              <span class="mbr-iconfont mobi-mbri-letter mobi-mbri"></span>
            </div>
            <h4 class="card-title mbr-fonts-style mb-2 display-2">
              <strong>Email</strong>
            </h4>
            <p class="mbr-text mbr-fonts-style mb-2 display-4">
              We will reply as soon as possible</p>
            <!--<h5 class="link mbr-fonts-style display-7">
              <а class="text-primary">photocontest278@gmail.com</а>
            </h5>-->
            <h5 class="link mbr-black mbr-fonts-style display-7">&nbsp;
              <a class="text-primary">photocontest278@gmail.com</a>
            </h5>
          </div>
        </div>
      </div>
      <div class="card col-12 col-lg-6">
        <div class="card-wrapper">
          <div class="card-box align-center">
            <div class="image-wrapper">
              <span class="mbr-iconfont mobi-mbri-mobile-2 mobi-mbri"></span>
            </div>
            <h4 class="card-title mbr-fonts-style align-center mb-2 display-2">
              <strong>Phone</strong>
            </h4>
            <p class="mbr-text mbr-fonts-style mb-2 display-4">
              Mon - Fri 09:00 - 18:00</p>
            <h5 class="link mbr-black mbr-fonts-style display-7">&nbsp;
              <a class="text-primary">+359 123 45 747</a>
            </h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<script th:src="@{../assets/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{../assets/smoothscroll/smooth-scroll.js}"></script>
<script th:src="@{../assets/ytplayer/index.js}"></script>
<script th:src="@{../assets/dropdown/js/navbar-dropdown.js}"></script>
<script th:src="@{../assets/theme/js/script.js}"></script>
</body>
</html>