<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Contest View</title>
    <link rel="stylesheet" th:href="@{../assets/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{../assets/bootstrap/css/bootstrap-grid.min.css}">
    <link rel="stylesheet" th:href="@{../assets/bootstrap/css/bootstrap-reboot.min.css}">
    <link rel="stylesheet" th:href="@{../assets/dropdown/css/style.css}">
    <link rel="stylesheet" th:href="@{../assets/socicon/css/styles.css}">
    <link rel="stylesheet" th:href="@{../assets/theme/css/style.css}">
    <link rel="preload"
          href="https://fonts.googleapis.com/css?family=Bellota+Text:300,300i,400,400i,700,700i&display=swap" as="style"
          onload="this.onload=null;this.rel='stylesheet'">
    <noscript>
        <link rel="stylesheet"
              href="https://fonts.googleapis.com/css?family=Bellota+Text:300,300i,400,400i,700,700i&display=swap">
    </noscript>
    <link rel="preload" as="style" th:href="@{../assets/mobirise/css/mbr-additional.css}">
    <link rel="stylesheet" th:href="@{../assets/mobirise/css/mbr-additional.css}" type="text/css">
    <style>

    </style>
</head>
<body>
<link th:replace="~{/fragments/navbar :: navbar}"/>

<section data-bs-version="5.1" class="countdown3 cid-tB9OM449wC"  th:style="${contest.getCoverPhotoName().startsWith('https://') ? 'background-image:url(' + contest.getCoverPhotoName() + ')' : 'background-image:url(/' + contest.getCoverPhotoName() + ')'}" id="countdown3-f">
    <!--<section data-bs-version="5.1" class="countdown3 cid-tB9OM449wC"  th:style="'background-image:url(' + *{contest.getCoverPhotoName()} + ');'"   id="countdown3-f">-->
    <div class="mbr-overlay" style="opacity: 0.7; background-color: rgb(255, 255, 255);"></div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <h3 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2">
                    <strong th:text="${contest.title}"></strong>
                </h3>
                <h4 class="mbr-section-subtitle mb-5 align-center mbr-fonts-style display-7">
                    <span th:text="'Phase: ' + ${contest.currentPhase}"> (Phase II)</span>
                    <br>
                    <span th:text="'Category: ' + ${contest.category.name}"> (Category)</span>
                    <span th:text="'Organizer: ' + (${contest.organizer.inactive} ? 'deleted user' : ${contest.organizer.username})"> (Username)</span>
                   <!-- <span th:text="'Organizer: ' + (${contest.organizer.inactive} ? 'deleted user' : ${contest.organizer})"> (Username)</span>-->
                </h4>

                <div class="countdown-cont align-center mb-5">
                    <div class="daysCountdown col-xs-3 col-sm-3 col-md-3" title="Days"></div>
                    <div class="hoursCountdown col-xs-3 col-sm-3 col-md-3" title="Hours"></div>
                    <div class="minutesCountdown col-xs-3 col-sm-3 col-md-3"
                         title="Minutes"></div>
                    <div class="secondsCountdown col-xs-3 col-sm-3 col-md-3"
                         title="Seconds"></div>
                    <div class="countdown" th:data-due-date="${contestDto.getCurrentPhase() == 'First phase' ?
                                 contestDto.getPhaseTwoStart() : (contestDto.getCurrentPhase() == 'Second phase' ?
                                  contestDto.finishedDate:
                                (contestDto.getCurrentPhase() == 'Finished' ? contestDto.finishedDate : ''))}"></div>
                </div>

            </div>
        </div>
    </div>
</section>

<div class="col-lg-12 col-md-12 col-sm-12 align-center mbr-section-btn" th:if="${!isOrganizer && !contest.juryMembers.contains(currentUserName)}">
    <a th:if="${contest.getCurrentPhase().equals('First phase') && currentUser!=null
    && !isOrganizer && !jury.contains(currentUser)}"
       th:href="@{/contests/{id}/upload-photo (id=${contest.getId()})}"
       class="btn btn-primary display-4">Enroll</a>
</div>

<div class="d-flex justify-content-center align-items-center" th:if="${contest.getCurrentPhase().equals('Finished')}">
    <div class="mbr-section-btn item-footer mt-2">
        <button onclick="showWinnersOrAll('allPhotos', this)" class="btn btn-primary item-btn display-7 d-inline-block" >All photos</button>
    </div>
    <span style="margin-left: 10px; margin-right: 10px;"></span>
    <div class="mbr-section-btn item-footer mt-2">
        <button onclick="showWinnersOrAll('winnerPhotos', this)" class="btn btn-primary item-btn display-7 d-inline-block" >Show winners</button>
    </div>
    <!--<span style="margin-left: 10px; margin-right: 10px;"></span>
    <div class="mbr-section-btn item-footer mt-2">
        <a href="" class="btn btn-primary item-btn display-7 d-inline-block" target="_blank">All photos</a>
    </div>-->
</div>

<section data-bs-version="5.1" class="gallery3 cid-tBbYLTwbfb" id="winnerPhotos" style="display:none;">
    <div class="container-fluid" th:if="${winnerPhotos.isEmpty()}">
        <div class="mbr-section-head">
            <br><br>
            <h3 class="mbr-section-title mbr-fonts-style align-center mb-3 display-5">
                <em> No winner photos, yet</em>
            </h3>
        </div>
    </div>
    <div class="row mt-4" th:unless="${winnerPhotos.isEmpty()}">
        <div th:each="winnerPhoto : ${winnerPhotos}" class="item features-image сol-12 col-md-6">
            <div class="item-wrapper">
                <div class="item-img">
                    <img th:style="${winnerPhoto.place.getId() == 1} ? 'border: 10px solid gold' :
                    (${winnerPhoto.place.getId() == 2} ? 'border: 8px solid silver' :
                    (${winnerPhoto.place.getId() == 3} ? 'border: 8px solid peru'))"
                         th:src="'/' + ${winnerPhoto.contestPhoto.getPhotoUrl()}" th:onerror="'this.src=\'/assets/images/contest.jpg\''">
                </div>
                <div class="item-content">
                    <h5 class="mbr-text mbr-fonts-style mt-3 display-5"
                       th:text="${winnerPhoto.contestPhoto.getTitle()}"></h5>
                    <div>
                        <a th:if="${not winnerPhoto.contestPhoto.user.inactive}"
                           th:href="@{/users/{id}/pictures (id=${winnerPhoto.contestPhoto.user.id})}">
                            <h5 class="item-title mbr-fonts-style display-7"
                                th:text="${winnerPhoto.contestPhoto.user.username}">
                            </h5>
                        </a>
                        <h5 class="item-title mbr-fonts-style display-7"
                            th:if="${winnerPhoto.contestPhoto.user.inactive}">
                            Deleted User
                        </h5>
                    </div>
                    <p class="mbr-text mbr-fonts-style mt-3 display-7"
                       th:text="'Award: ' + ${winnerPhoto.place.getPlaceName()} + ', points: ' + ${winnerPhoto.getPoints()}"></p>
                    <p class="mbr-text mbr-fonts-style mt-3 display-7"
                       th:text="'Story: ' + ${winnerPhoto.contestPhoto.getStory()}"></p>
                </div>
                <div class="mbr-section-btn item-footer mt-2">
                    <a href="#"
                       th:href="@{'/contests/' + ${contest.id} + '/contest-photos/' + ${winnerPhoto.contestPhoto.id}}"
                       class="btn btn-primary item-btn display-7">Read reviews</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section data-bs-version="5.1" class="gallery3 cid-tBbYLTwbfb" id="allPhotos">
    <div class="container-fluid" th:if="${contestPhotos.isEmpty()}">
        <div class="mbr-section-head">
            <br><br>
            <h3 class="mbr-section-title mbr-fonts-style align-center mb-3 display-5">
                <em> No photos in this contest</em>
            </h3>
        </div>
    </div>
    <div class="row mt-4" th:unless="${contestPhotos.isEmpty() || contest.getCurrentPhase().equals('Finished')}">
        <div th:each="contestPhoto : ${contestPhotos}" class="item features-image сol-12 col-md-6">
            <div class="item-wrapper">
                <div class="item-img">
                    <img th:src="'/' + ${contestPhoto.getPhotoUrl()}">
                </div>
                <div class="item-content">
                    <h5 class="item-title mbr-fonts-style display-5" th:text="${contestPhoto.getTitle()}"></h5>
                    <div>
                        <a th:if="${not contestPhoto.user.inactive}"
                           th:href="@{/users/{id}/pictures (id=${contestPhoto.user.id})}">
                            <h5 class="item-title mbr-fonts-style display-7"
                                th:text="${contestPhoto.user.username}">
                            </h5>
                        </a>
                        <h5 class="item-title mbr-fonts-style display-7" th:if="${contestPhoto.user.inactive}">
                            Deleted User
                        </h5>
                    </div>
                    <p class="mbr-text mbr-fonts-style mt-3 display-7" th:text="'Story: ' + ${contestPhoto.getStory()}">
                        <a href="#" class="text-primary">Read more..</a>
                    </p>
                </div>
                <div class="mbr-section-btn item-footer mt-2">
                    <a href="#"
                       th:href="@{'/contests/' + ${contest.id} + '/contest-photos/' + ${contestPhoto.id}}" class="btn btn-primary item-btn display-7">See Photo</a>
                    <a th:if="${isOrganizer}" th:href="@{'/contests/' + ${contest.id} + '/contest-photo/' + ${contestPhoto.id}}" class="btn btn-primary item-btn display-7">delete Photo</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-4" th:unless="${!contest.getCurrentPhase().equals('Finished')}">
        <div th:each="contestPhotoWithPoints : ${contestPhotosWithPoints}" class="item features-image сol-12 col-md-6">
            <div class="item-wrapper">
                <div class="item-img">
                    <img th:src="'/' + ${contestPhotoWithPoints.contestPhoto.getPhotoUrl()}">
                </div>
                <div class="item-content">
                    <h5 class="item-title mbr-fonts-style display-5" th:text="${contestPhotoWithPoints.contestPhoto.getTitle()}"></h5>
                    <div>
                        <a th:if="${not contestPhotoWithPoints.contestPhoto.user.inactive}"
                           th:href="@{/users/{id}/pictures (id=${contestPhotoWithPoints.contestPhoto.user.id})}">
                            <h5 class="item-title mbr-fonts-style display-7"
                                th:text="${contestPhotoWithPoints.contestPhoto.user.username}">
                            </h5>
                        </a>
                        <h5 class="item-title mbr-fonts-style display-7"
                            th:if="${contestPhotoWithPoints.contestPhoto.user.inactive}">
                            Deleted User
                        </h5>
                    </div>

                    <p class="mbr-text mbr-fonts-style mt-3 display-7" th:text="'Story: ' +${contestPhotoWithPoints.contestPhoto.getStory()}">
                        <a href="#" class="text-primary">Read more..</a>
                    </p>
                    <h5 class="item-title mbr-fonts-style display-7" th:text="'Jury points: ' + ${#numbers.formatDecimal(contestPhotoWithPoints.score, 0, 2)}"></h5>
                </div>
                <div class="mbr-section-btn item-footer mt-2">
                    <a href="#"
                       th:href="@{'/contests/' + ${contest.id} + '/contest-photos/' + ${contestPhotoWithPoints.contestPhoto.id}}" class="btn btn-primary item-btn display-7">Read reviews</a>
                </div>
            </div>
        </div>
    </div>
</section>
<script th:src="@{../assets/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{../assets/smoothscroll/smooth-scroll.js}"></script>
<script th:src="@{../assets/ytplayer/index.js}"></script>
<script th:src="@{../assets/dropdown/js/navbar-dropdown.js}"></script>
<script th:src="@{../assets/countdown/countdown.js}"></script>
<script th:src="@{../assets/theme/js/script.js}"></script>
<script>
    function showWinnersOrAll(whoToShow){
        if(whoToShow === "allPhotos"){
            document.getElementById("winnerPhotos").style.display = "none";
            document.getElementById("allPhotos").style.display = "block";
        } else {
            document.getElementById("winnerPhotos").style.display = "block";
            document.getElementById("allPhotos").style.display = "none";
        }
    }
</script>
</body>
</html>