<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Contests</title>
    <link th:replace="~{/fragments/resourses :: bootstrap-min}"/>
    <link th:replace="~{/fragments/resourses :: bootstrap-grid}"/>
    <link th:replace="~{/fragments/resourses :: bootstrap-reboot}"/>
    <link th:replace="~{/fragments/resourses :: dropdown-style}"/>
    <link th:replace="~{/fragments/resourses :: socicon-styles}"/>
    <link th:replace="~{/fragments/resourses :: theme-styles}"/>
    <link th:replace="~{/fragments/resourses :: stylesheet}"/>
    <link th:replace="~{/fragments/resourses :: display-styles}"/>
    <link th:replace="~{/fragments/resourses :: aditional-css}"/>
</head>
<body>
<link th:replace="~{/fragments/navbar :: navbar}"/>
<br>
<br>
<br>
<br>

<section data-bs-version="5.1" class="form2 cid-tBInA8SQqz" id="form2-g">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-lg-8 mx-auto mbr-form" data-form-type="formoid">
                <form action="#" th:action="@{/contests}" method="get" class="mbr-form form-with-styler"
                      th:object="${filterOptions}">
                    <div class="dragArea row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <p class="mbr-text mbr-fonts-style mb-5 align-center display-7"
                               style="margin-bottom: 10px !important;">Filter Options</p>
                        </div>
                        <div class="col-lg col-md col-12 form-group mb-3">
                            <input type="text" th:field="*{title}" placeholder="Title" class="form-control">
                        </div>
                        <div class="col-lg col-md col-12 form-group mb-3">
                            <select th:field="*{phase}" class="form-control" style="line-height: normal !important;">
                                <option value="">Any phase</option>
                                <option value="first_phase">First phase</option>
                                <option value="second_phase">Second phase</option>
                                <option value="finished">Finished</option>
                            </select>
                        </div>

                        <div class="col-lg col-md col-12 form-group mb-3">
                            <select th:field="*{categoryId}" class="form-control" style="line-height: normal !important;">
                                <option value="">Any Tag</option>
                                <option th:each="category : ${categories}" th:text="${category.getName()}" th:value="${category.getId()}">
                                    Category
                                </option>
                                <!--<option value="second_phase">Second phase</option>
                                <option value="finished">Finished</option>-->
                            </select>
                        </div>



                        <div class="col-lg col-md col-12 form-group mb-3">
                            <select th:field="*{sortBy}" class="form-control"
                                    style="line-height: normal !important;">
                                <option value="">Sort By</option>
                                <option value="title">Title</option>
                                <option value="category">Category</option>
                            </select>
                        </div>
                        <div class="col-lg col-md col-12 form-group mb-3">
                            <select th:field="*{sortOrder}" class="form-control"
                                    style="line-height: normal !important;">
                                <option value="">Sort Direction</option>
                                <option value="asc">Ascending</option>
                                <option value="desc">Descending</option>
                            </select>
                        </div>
                        <div class="mbr-section-btn col-md-auto col">
                            <button type="submit" class="btn btn-primary display-4">Search</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<section data-bs-version="5.1" class="gallery2 cid-tBbIozPGXP" id="gallery2-w">
    <div class="container">
        <div class="mbr-section-head">
            <h6 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2" th:if="${contests.isEmpty()}">
                <strong style="font-size: 36px">NO CONTESTS</strong>
                </h6>
        </div>
    </div>
    <br>
    <br>
    <div class="row">
        <div th:each="contest : ${contests}" class="col-md-6 col-lg-6">
            <div class="item features-image сol-12">
                <div class="item-wrapper" style="margin-left: 20px;">
                    <div class="item-img">
                        <img th:src="${contest.getCoverPhotoName()}">
                    </div>

                        <div class="countdown-cont align-center mb-5">
                            <div class="daysCountdown col-xs-3 col-sm-3 col-md-3" title="Days"></div>
                            <div class="hoursCountdown col-xs-3 col-sm-3 col-md-3" title="Hours"></div>
                            <div class="minutesCountdown col-xs-3 col-sm-3 col-md-3"
                                 title="Minutes"></div>
                            <div class="secondsCountdown col-xs-3 col-sm-3 col-md-3"
                                 title="Seconds"></div>
                            <div class="countdown" th:data-due-date="${contest.getCurrentPhase() == 'First phase' ?
                                 contest.getPhaseTwoStart() : (contest.getCurrentPhase() == 'Second phase' ? contest.getFinishedDate():
                                (contest.getCurrentPhase() == 'Finished' ? contest.finishedDate : ''))}"></div>
                        </div>

                    <div class="invite" style="text-align: center;">
                        <p class="display-7">
                            <h3 th:text="${contest.title}"></h3>
                        </p>
                    </div>
                    <div class="invite" style="text-align: center;">
                        <p class="display-7">
                            <span th:text="${contest.currentPhase}"></span>
                        </p>
                    </div>
                    <div class="invite" style="text-align: center;">
                        <p class="display-7">
                            <em>Organizer :</em> <span th:text="${contest.organizer == 'inactive' ? 'deleted user' : contest.organizer}" id="organizer"></span>
                        </p>
                    </div>


                    <div class="invite" style="text-align: center;">
                            <p class=" display-7">
                                <em>Category:</em> <span th:text="${contest.categoryName}"></span>
                            </p></div>

                            <div class="invite" style="text-align: center;"  th:if="${contest.invitational}">
                                <p class=" display-7" >
                                    <em>Invitational contest!</em>
                                </p></div>

                                <div class="invite"  style="text-align: center;" th:unless="${contest.invitational}">
                                    <p class=" display-7">
                                        <em>Public contest!</em>
                                    </p></div>

                            <div class="invite-jury"  style="text-align: left;" th:if="${contest.invitational && contest.invitedUsers.contains(currentUserName) && contest.currentPhase.equals('First phase')}">
                                <p class=" display-7">
                                    <em>You are invited for this contest!</em>
                                </p></div>

                                <div class="invite-jury" style="text-align: left;" th:if="${contest.getJuryFromMasters().contains(currentUserName) && !contest.currentPhase.equals('Finished')}">
                                    <p class="display-7">
                                        <em>You are invited to be jury for this contest!</em>
                                    </p></div>
                    <div style="display: flex; justify-content: space-around;">
                        <div class="mbr-section-btn item-footer mt-2" style="display: inline-block;">
                            <a th:href="@{contests/{id} (id=${contest.id})}" class="btn btn-primary item-btn display-7">Show</a>
                        </div>
                        <div class="mbr-section-btn item-footer mt-2" th:if="${isOrganizer && currentUserName.equals(contest.organizer)}" style="display: inline-block;">
                            <a th:href="@{contests/{id}/update (id=${contest.id})}" class="btn btn-primary item-btn display-7">Update</a>
                        </div>
                        <div class="mbr-section-btn item-footer mt-2" th:if="${isOrganizer && currentUserName.equals(contest.organizer)}" style="display: inline-block;">
                            <a th:href="@{contests/{id}/delete (id=${contest.id})}" class="btn btn-primary item-btn display-7">Delete</a>
                        </div>
                    </div>

                </div>
                    </div>
            <hr>
                </div>
    </div>
</section>
<script src="../assets/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="../assets/smoothscroll/smooth-scroll.js"></script>
<script src="../assets/ytplayer/index.js"></script>
<script src="../assets/dropdown/js/navbar-dropdown.js"></script>
<script src="../assets/countdown/countdown.js"></script>
<script src="../assets/theme/js/script.js"></script>

</body>
</html>