<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Forgot Password</title>
    <link rel="stylesheet" th:href="@{../assets/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{../assets/bootstrap/css/bootstrap-grid.min.css}">
    <link rel="stylesheet" th:href="@{../assets/bootstrap/css/bootstrap-reboot.min.css}">
    <link rel="stylesheet" th:href="@{../assets/dropdown/css/style.css}">
    <link rel="stylesheet" th:href="@{../assets/socicon/css/styles.css}">
    <link rel="stylesheet" th:href="@{../assets/theme/css/style.css}">
    <link rel="preload"
          href="https://fonts.googleapis.com/css?family=Bellota+Text:300,300i,400,400i,700,700i&display=swap" as="style"
          onload="this.onload=null;this.rel='stylesheet'">
    <noscript>
        <link rel="stylesheet"
              href="https://fonts.googleapis.com/css?family=Bellota+Text:300,300i,400,400i,700,700i&display=swap">
    </noscript>
    <link rel="preload" as="style" th:href="@{../assets/mobirise/css/mbr-additional.css}">
    <link rel="stylesheet" th:href="@{../assets/mobirise/css/mbr-additional.css}" type="text/css">
</head>
<body>
<section data-bs-version="5.1" class="menu menu1 cid-sFGMsvHDIa" id="menu1-1">
    <nav class="navbar navbar-dropdown navbar-expand-lg">
        <div class="container-fluid">
            <div class="navbar-brand">
                <span class="navbar-caption-wrap">
                    <a class="navbar-caption text-black text-primary display-7" th:href="@{/}">Photo Contest</a>
                </span>
            </div>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav nav-dropdown" data-app-modern-menu="true">
                    <li class="nav-item">
                        <a class="nav-link link text-black show display-7" th:href="@{/}" aria-expanded="false">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link link text-black display-7" th:href="@{/about}">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link link text-black display-7" th:href="@{/contacts}">Contacts</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</section>

<section data-bs-version="5.1" class="form4 cid-tB9JU2AXNI mbr-fullscreen" id="form4-3">
    <div class="container">
        <div class="row content-wrapper justify-content-center">
            <div class="col-lg-3 offset-lg-1 mbr-form" data-form-type="formoid">

                <form action="#" method="post" th:action="@{/auth/forgot-password}" th:object="${forgotPassword}"
                      class="mbr-form form-with-styler" data-form-title="Form Name">
                    <div class="dragArea row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <h3 class="mbr-section-title mb-4 display-2">
                                <strong>Forgot Password</strong>
                            </h3>
                        </div>
                        <div class="col-lg-12 col-md col-12  mb-3">
                            <input required th:field="*{email}" type="email" placeholder="Enter your e-mail" class="form-control">
                            <div>
                                <label class="error" style="position:absolute; color:darkred; white-space: nowrap; font-size: 14px"
                                       th:errors="*{email}">
                                    Email error placeholder
                                </label>
                            </div>
                        </div>
                        <div class="col-12 col-md-auto mbr-section-btn">
                            <button type="submit" class="btn btn-white display-4">Send</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-lg-7 offset-lg-1 col-12">
                <div class="image-wrapper">
                    <img class="w-100" th:src="@{../assets/images/forgotten-password.jpg}">
                </div>
            </div>
        </div>
    </div>
</section>
<script th:src="@{../assets/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{../assets/smoothscroll/smooth-scroll.js}"></script>
<script th:src="@{../assets/ytplayer/index.js}"></script>
<script th:src="@{../assets/dropdown/js/navbar-dropdown.js}"></script>
<script th:src="@{../assets/theme/js/script.js}"></script>
<!--<script th:src="@{../assets/formoid/formoid.min.js}"></script>-->
</body>
</html>