<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Photo Junkie Home</title>
  <link rel="stylesheet" th:href="@{../assets/bootstrap/css/bootstrap.min.css}">
  <link rel="stylesheet" th:href="@{../assets/bootstrap/css/bootstrap-grid.min.css}">
  <link rel="stylesheet" th:href="@{../assets/bootstrap/css/bootstrap-reboot.min.css}">
  <link rel="stylesheet" th:href="@{../assets/dropdown/css/style.css}">
  <link rel="stylesheet" th:href="@{../assets/socicon/css/styles.css}">
  <link rel="stylesheet" th:href="@{../assets/theme/css/style.css}">
  <link rel="preload"
        href="https://fonts.googleapis.com/css?family=Bellota+Text:300,300i,400,400i,700,700i&display=swap" as="style"
        onload="this.onload=null;this.rel='stylesheet'">
  <noscript>
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Bellota+Text:300,300i,400,400i,700,700i&display=swap">
  </noscript>
  <link rel="preload" as="style" th:href="@{../assets/mobirise/css/mbr-additional.css}">
  <link rel="stylesheet" th:href="@{../assets/mobirise/css/mbr-additional.css}" type="text/css">
</head>

<body>
<link th:replace="~{/fragments/navbar :: navbar}"/>

<section data-bs-version="5.1" class="header1 cid-sFGMfPD7iTPhotoJunkie" id="header1-0">
  <div class="mbr-overlay" style="opacity: 0.7; background-color: rgb(255, 255, 255);" ></div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-7">
        <h3 class="mbr-section-title mbr-fonts-style mb-3 display-1">
          <strong style="white-space: nowrap">Display nature's beauty!</strong>
        </h3>
        <p class="mbr-text mbr-fonts-style display-7">We eagerly await your breathtaking pictures!<br>
        </p>
      </div>
    </div>
  </div>
</section>

<section data-bs-version="5.1" class="gallery2 cid-tBbIozPGXP" id="gallery2-w">
  <div class="container">
    <div class="mbr-section-head">
      <h6 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2">
        <strong style="font-size: 36px">OUR MOST RECENT CONTESTS</strong>
      </h6>
      <p class="mbr-section-subtitle mbr-fonts-style align-center mb-0 mt-2 display-5"
         style="font-size: 18px; padding-left: 250px; padding-right: 250px; margin-bottom: 30px">
        Join contests and show your talent to the world!
      </p>
    </div>
  </div>
  <br>
  <br>
  <div class="row">
    <div th:each="contest : ${contests}" class="col-md-6 col-lg-6">
      <div class="item features-image сol-12">
        <div class="item-wrapper" style="margin-left: 20px;" >
          <div class="item-img">
            <img th:src="${contest.getCoverPhotoName()}">
          </div>

          <div class="countdown-cont align-center mb-5">
            <div class="daysCountdown col-xs-3 col-sm-3 col-md-3" title="Days"></div>
            <div class="hoursCountdown col-xs-3 col-sm-3 col-md-3" title="Hours"></div>
            <div class="minutesCountdown col-xs-3 col-sm-3 col-md-3"
                 title="Minutes"></div>
            <div class="secondsCountdown col-xs-3 col-sm-3 col-md-3"
                 title="Seconds"></div>
            <div class="countdown" th:data-due-date="${contest.getCurrentPhase() == 'First phase' ?
                                 contest.getPhaseTwoStart() : (contest.getCurrentPhase() == 'Second phase' ? contest.getFinishedDate():
                                (contest.getCurrentPhase() == 'Finished' ? contest.finishedDate : ''))}"></div>
          </div>

          <div class="invite" style="text-align: center;">
            <div class="display-7">
            <h3 th:text="${contest.title}"></h3>
            </div>
          </div>
          <div class="invite" style="text-align: center;">
            <p class="display-7">
              <span th:text="${contest.currentPhase}"></span>
            </p>
          </div>
          <div class="invite" style="text-align: center;">
            <p class="display-7">
              <em>Organizer :</em> <span th:text="${contest.organizer == 'inactive' ? 'deleted user' : contest.organizer}" id="organizer"></span>
            </p>
          </div>


          <div class="invite" style="text-align: center;">
            <p class=" display-7">
              <em>Category:</em> <span th:text="${contest.categoryName}"></span>
            </p></div>

          <div class="invite" style="text-align: center;"  th:if="${contest.invitational}">
            <p class=" display-7" >
              <em>Invitational contest!</em>
            </p></div>

          <div class="invite"  style="text-align: center;" th:unless="${contest.invitational}">
            <p class=" display-7">
              <em>Public contest!</em>
            </p></div>

          <div class="invite-jury"  style="text-align: left;" th:if="${contest.invitational && contest.invitedUsers.contains(currentUserName) && contest.currentPhase.equals('First phase')}">
            <p class=" display-7">
              <em>You are invited for this contest!</em>
            </p></div>

          <div class="invite-jury" style="text-align: left;" th:if="${contest.getJuryFromMasters().contains(currentUserName) && !contest.currentPhase.equals('Finished')}">
            <p class="display-7">
              <em>You are invited to be jury for this contest!</em>
            </p></div>
          <div style="display: flex; justify-content: space-around;">
            <div class="mbr-section-btn item-footer mt-2" style="display: inline-block;">
              <a th:href="@{contests/{id} (id=${contest.id})}" class="btn btn-primary item-btn display-7">Show</a>
            </div>
            <div class="mbr-section-btn item-footer mt-2" th:if="${isOrganizer && currentUserName.equals(contest.organizer)}" style="display: inline-block;">
              <a th:href="@{contests/{id}/update (id=${contest.id})}" class="btn btn-primary item-btn display-7">Update</a>
            </div>
            <div class="mbr-section-btn item-footer mt-2" th:if="${isOrganizer && currentUserName.equals(contest.organizer)}" style="display: inline-block;">
              <a th:href="@{contests/{id}/delete (id=${contest.id})}" class="btn btn-primary item-btn display-7">Delete</a>
            </div>
          </div>
        </div>
      </div>
      <hr>
    </div>
  </div>
</section>


<script th:src="@{../assets/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{../assets/smoothscroll/smooth-scroll.js}"></script>
<script th:src="@{../assets/ytplayer/index.js}"></script>
<script th:src="@{../assets/dropdown/js/navbar-dropdown.js}"></script>
<script th:src="@{../assets/theme/js/script.js}"></script>
<script th:src="@{../assets/countdown/countdown.js}"></script>
</body>
</html>