<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Organizer Panel</title>
    <link rel="stylesheet" th:href="@{../assets/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{../assets/bootstrap/css/bootstrap-grid.min.css}">
    <link rel="stylesheet" th:href="@{../assets/bootstrap/css/bootstrap-reboot.min.css}">
    <link rel="stylesheet" th:href="@{../assets/dropdown/css/style.css}">
    <link rel="stylesheet" th:href="@{../assets/socicon/css/styles.css}">
    <link rel="stylesheet" th:href="@{../assets/theme/css/style.css}">
    <link rel="preload"
          href="https://fonts.googleapis.com/css?family=Bellota+Text:300,300i,400,400i,700,700i&display=swap" as="style"
          onload="this.onload=null;this.rel='stylesheet'">
    <noscript>
        <link rel="stylesheet"
              href="https://fonts.googleapis.com/css?family=Bellota+Text:300,300i,400,400i,700,700i&display=swap">
    </noscript>
    <link rel="preload" as="style" th:href="@{../assets/mobirise/css/mbr-additional.css}">
    <link rel="stylesheet" th:href="@{../assets/mobirise/css/mbr-additional.css}" type="text/css">
</head>
<body>
<link th:replace="~{/fragments/navbar :: navbar}"/>

<section data-bs-version="5.1" class="header1 cid-sFGMfPD7iTOrganizerPanel" id="header1-0">
    <div class="mbr-overlay" style="opacity: 0.7; background-color: rgb(255, 255, 255);"></div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-7">
                <h1 class="mbr-section-title mbr-fonts-style mb-3 display-1">
                    <strong>Welcome to Organizer Panel</strong>
                </h1>
                <p class="mbr-text mbr-fonts-style display-7">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Aenean molestie porta massa, in pretium ante auctor ac. Fusce at mi.<br>
                </p>
            </div>
        </div>
    </div>
</section>

<section data-bs-version="5.1" class="form2 cid-tBInA8SQqz" id="form2-g">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-lg-8 mx-auto mbr-form" data-form-type="formoid">
                <form action="#" th:action="@{/panel}" method="get" class="mbr-form form-with-styler"
                      th:object="${userFilerOptions}">
                    <div class="dragArea row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <p class="mbr-text mbr-fonts-style mb-5 align-center display-7"
                               style="margin-bottom: 10px !important;">Filter Options</p>
                        </div>
                        <div class="col-lg col-md col-12 form-group mb-3">
                            <input type="text" th:field="*{username}" placeholder="Username" class="form-control">
                        </div>
                        <div class="col-lg col-md col-12 form-group mb-3">
                            <input type="text" th:field="*{firstName}" placeholder="First Name" class="form-control">
                        </div>
                        <div class="col-lg col-md col-12 form-group mb-3">
                            <input type="text" th:field="*{lastName}" placeholder="Last Name" class="form-control">
                        </div>
                        <div class="col-lg col-md col-12 form-group mb-3">
                            <select th:field="*{sortBy}" class="form-control" style="line-height: normal !important;">
                                <option value="">Sort By</option>
                                <option value="username">Username</option>
                                <option value="firstName">First Name</option>
                                <option value="lastName">Last Name</option>
                            </select>
                        </div>
                        <div class="col-lg col-md col-12 form-group mb-3">
                            <select th:field="*{sortOrder}" class="form-control"
                                    style="line-height: normal !important;">
                                <option value="">Sort Direction</option>
                                <option value="asc">Ascending</option>
                                <option value="desc">Descending</option>
                            </select>
                        </div>
                        <div class="mbr-section-btn col-md-auto col">
                            <button type="submit" class="btn btn-primary display-4">Search</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2 th:if="${users.isEmpty()}"><strong>No users found</strong></h2>
            <div class="card" th:unless="*{users.isEmpty()}">
                <div class="card-body">
                    <h5 class="card-title text-uppercase mb-0">Manage Users</h5>
                </div>
                <div class="table-responsive">
                    <table class="table no-wrap user-table mb-0">
                        <thead>
                        <tr>
                            <th scope="col" class="border-0 text-uppercase font-medium">Name</th>
                            <th scope="col" class="border-0 text-uppercase font-medium">Username</th>
                            <th scope="col" class="border-0 text-uppercase font-medium">Role</th>
                            <th scope="col" class="border-0 text-uppercase font-medium">Email</th>
                            <th scope="col" class="border-0 text-uppercase font-medium">Rank</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="user : ${users}">
                            <td>
                                <h5 class="font-medium mb-0" th:text="*{user.firstName + ' ' + user.lastName}">Name</h5>
                            </td>
                            <td>
                                <span class="text-muted" th:text="*{user.username}">Username</span><br>
                            </td>
                            <td>
                                <span class="text-muted" th:text="*{user.getRole().name}">User Role</span><br>
                            </td>
                            <td>
                                <span class="text-muted" th:text="*{user.email}">User Email</span><br>
                            </td>
                            <td>
                                <span class="text-muted" th:text="*{user.getRank().name}">User Rank</span><br>
                                <span class="text-muted" th:text="*{user.score}">User Score</span>
                            </td>
                            <td>
                                <a th:if="${user.role.name == 'Photo Junkie'}"
                                        href="#"
                                   th:href="@{'/users/' + ${user.id} + '/promote-to-organizer'}">
                                    <button type="submit" class="btn btn-primary display-4">Make organizer</button>
                                </a>
                                <a th:if="${user.role.name == 'Organizer'}"
                                        href="#"
                                   th:href="@{'/users/' + ${user.id} + '/make-junkie'}">
                                    <button type="submit" class="btn btn-primary display-4">Make junkie</button>
                                </a>
                            </td>
                            <td>
                            <a href="#"
                               th:href="@{'/users/' + ${user.id} + '/delete'}">
                                <button type="submit" class="btn btn-primary display-4">Delete user</button>
                            </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script th:src="@{../assets/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{../assets/smoothscroll/smooth-scroll.js}"></script>
<script th:src="@{../assets/ytplayer/index.js}"></script>
<script th:src="@{../assets/dropdown/js/navbar-dropdown.js}"></script>
<script th:src="@{../assets/theme/js/script.js}"></script>
</body>
</html>