<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Sent Email Message</title>
  <link rel="stylesheet" th:href="@{../assets/bootstrap/css/bootstrap.min.css}">
  <link rel="stylesheet" th:href="@{../assets/bootstrap/css/bootstrap-grid.min.css}">
  <link rel="stylesheet" th:href="@{../assets/bootstrap/css/bootstrap-reboot.min.css}">
  <link rel="stylesheet" th:href="@{../assets/dropdown/css/style.css}">
  <link rel="stylesheet" th:href="@{../assets/socicon/css/styles.css}">
  <link rel="stylesheet" th:href="@{../assets/theme/css/style.css}">
  <link rel="preload"
        href="https://fonts.googleapis.com/css?family=Bellota+Text:300,300i,400,400i,700,700i&display=swap" as="style"
        onload="this.onload=null;this.rel='stylesheet'">
  <noscript>
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Bellota+Text:300,300i,400,400i,700,700i&display=swap">
  </noscript>
  <link rel="preload" as="style" th:href="@{../assets/mobirise/css/mbr-additional.css}">
  <link rel="stylesheet" th:href="@{../assets/mobirise/css/mbr-additional.css}" type="text/css">
</head>
<body>
<link th:replace="~{/fragments/navbar :: navbar}"/>
<section data-bs-version="5.1" class="header1 cid-sFGMfPD7iT" id="header1-0">
  <div class="mbr-overlay" style="opacity: 0.7; background-color: rgb(255, 255, 255);" ></div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-7">
        <h3 class="mbr-section-title mbr-fonts-style mb-3 display-1">
          <strong style="white-space: nowrap">Display nature's beauty!</strong>
        </h3>
        <p class="mbr-text mbr-fonts-style display-7">We are waiting for your stunning pictures!<br>
        </p>
      </div>
    </div>
  </div>
</section>

<section data-bs-version="5.1" class="gallery2 cid-tBbIozPGXP" id="gallery2-w">
  <div class="container">
    <div class="mbr-section-head">
      <h6 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2">
        <strong style="font-size: 30px">
          <em> A request has been sent to your email address.
            Please check your inbox and click on the link to change your password. </em>
        </strong>
      </h6>
    </div>
  </div>
</section>

<script th:src="@{../assets/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{../assets/smoothscroll/smooth-scroll.js}"></script>
<script th:src="@{../assets/ytplayer/index.js}"></script>
<script th:src="@{../assets/dropdown/js/navbar-dropdown.js}"></script>
<script th:src="@{../assets/theme/js/script.js}"></script>
</body>
</html>