<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update Information</title>
    <link rel="stylesheet" th:href="@{../../assets/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{../../assets/bootstrap/css/bootstrap-grid.min.css}">
    <link rel="stylesheet" th:href="@{../../assets/bootstrap/css/bootstrap-reboot.min.css}">
    <link rel="stylesheet" th:href="@{../../assets/dropdown/css/style.css}">
    <link rel="stylesheet" th:href="@{../../assets/socicon/css/styles.css}">
    <link rel="stylesheet" th:href="@{../../assets/theme/css/style.css}">
    <link rel="preload"
          href="https://fonts.googleapis.com/css?family=Bellota+Text:300,300i,400,400i,700,700i&display=swap" as="style"
          onload="this.onload=null;this.rel='stylesheet'">
    <noscript>
        <link rel="stylesheet"
              href="https://fonts.googleapis.com/css?family=Bellota+Text:300,300i,400,400i,700,700i&display=swap">
    </noscript>
    <link rel="preload" as="style" th:href="@{../../assets/mobirise/css/mbr-additional.css}">
    <link rel="stylesheet" th:href="@{../../assets/mobirise/css/mbr-additional.css}" type="text/css">


</head>
<body>

<link th:replace="~{/fragments/navbar :: navbar}"/>
<section data-bs-version="5.1" class="header1 cid-tBbSX6BVqm" id="header1-19">
    <div class="mbr-overlay" style="opacity: 0.7; background-color: rgb(255, 255, 255);"></div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-7">
                <h1 class="mbr-section-title mbr-fonts-style mb-3 display-1"><strong>Update Info</strong></h1>
                <p class="mbr-text mbr-fonts-style display-7">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Aenean molestie porta massa, in pretium ante auctor ac. Fusce at mi.<br></p>
            </div>
        </div>
    </div>
</section>

<section data-bs-version="5.1" class="form7 cid-tBbTvz70sA" id="form7-1a">


    <div class="container-fluid">

        <div class="row justify-content-center mt-4">
            <form method="post" th:action="${requestURI}"  th:object="${userUpdateDto}" class="mbr-form form-with-styler mx-auto">
            <div class="col-lg-8 mx-auto mbr-form" data-form-type="formoid">
                <form action="https://mobirise.eu/" class="mbr-form form-with-styler mx-auto"
                      data-form-title="Form Name">

                    <div class="dragArea row">
                        <div class="col-lg-12 col-md-12 col-sm-12 form-group mb-3" data-for="email">
                            <label for="name-form7-1a" style="font-size: 16px; font-weight: bold; font-family: Arial, sans-serif;">Email Address</label>
                            <input type="email" th:field="*{email}" name="email" placeholder="email" data-form-field="email"
                                   class="form-control" value="" id="name-form7-1a">
                            <label class="error"
                                   style="position:absolute; color:darkred; white-space: nowrap; font-size: 14px"
                                   th:errors="*{email}">
                                Title error placeholder
                            </label>
                        </div>
                        <br>
                        <br>
                        <br>
                        <br>
                        <form id="myForm">
                            <div class="col-lg-12 col-md-12 col-sm-12 form-group mb-3" data-for="email">
                                <label for="name-form7-1a" style="font-size: 16px; font-weight: bold; font-family: Arial, sans-serif;">Password</label>
                                <input type="password" minlength="8" name="password" placeholder="Password" data-form-field="password" class="form-control" value="" id="password">
                                <label class="error" style="position:absolute; color:darkblue; white-space: nowrap; font-size: 18px" id="passwordError"></label>
                            </div>
                            <br>
                            <br>
                            <br>
                            <br>
                            <div data-for="phone" class="col-lg-12 col-md-12 col-sm-12 form-group mb-3">
                                <label for="name-form7-1a" style="font-size: 16px; font-weight: bold; font-family: Arial, sans-serif;">Password confirm</label>
                                <input type="password" minlength="8" name="passwordConfirm"
                                       placeholder="Password confirm" data-form-field="reset password"
                                       class="form-control" value="" id="passwordConfirm">
                                <label class="error" style="position:absolute; color:darkblue; white-space: nowrap; font-size: 18px" id="passwordConfirmError"></label>
                            </div>
                        </form>

                        <script>
                            const form = document.querySelector('form');
                            const passwordInput = form.querySelector('input[name="password"]');
                            const passwordConfirmInput = form.querySelector('input[name="passwordConfirm"]');
                            const passwordError = form.querySelector('#passwordError');
                            const passwordConfirmError = form.querySelector('#passwordConfirmError');

                            form.addEventListener('submit', function(event) {
                                // Check if the two passwords match
                                if (passwordInput.value !== passwordConfirmInput.value) {
                                    event.preventDefault(); // Prevent the form from submitting
                                    passwordError.textContent = 'Passwords do not match';
                                    passwordConfirmError.textContent = 'Passwords do not match';
                                } else {
                                    passwordError.textContent = '';
                                    passwordConfirmError.textContent = '';
                                }
                            });
                        </script>
                        <br>
                        <br>
                        <br>
                        <br>

                        <div class="col-auto mbr-section-btn align-center">
                            <button type="submit" class="btn btn-primary display-4">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
            </form>
    </div>
    </div>
</section>
<script th:src="@{../../assets/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{../../assets/smoothscroll/smooth-scroll.js}"></script>
<script th:src="@{../../assets/ytplayer/index.js}"></script>
<script th:src="@{../../assets/dropdown/js/navbar-dropdown.js}"></script>
<script th:src="@{../../assets/theme/js/script.js}"></script>
<script th:src="@{../../assets/formoid/formoid.min.js}"></script>

</body>
</html>