<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create contest</title>
    <link rel="stylesheet" th:href="@{/assets/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/assets/bootstrap/css/bootstrap-grid.min.css}">
    <link rel="stylesheet" th:href="@{/assets/bootstrap/css/bootstrap-reboot.min.css}">
    <link rel="stylesheet" th:href="@{/assets/dropdown/css/style.css}">
    <link rel="stylesheet" th:href="@{/assets/socicon/css/styles.css}">
    <link rel="stylesheet" th:href="@{/assets/theme/css/style.css}">
    <link rel="preload"
          href="https://fonts.googleapis.com/css?family=Bellota+Text:300,300i,400,400i,700,700i&display=swap" as="style"
          onload="this.onload=null;this.rel='stylesheet'">
    <noscript>
        <link rel="stylesheet"
              href="https://fonts.googleapis.com/css?family=Bellota+Text:300,300i,400,400i,700,700i&display=swap">
    </noscript>
    <link rel="preload" as="style" th:href="@{/assets/mobirise/css/mbr-additional.css}">
    <link rel="stylesheet" th:href="@{/assets/mobirise/css/mbr-additional.css}" type="text/css">
</head>
<body>

<link th:replace="~{/fragments/navbar :: navbar}"/>

<section data-bs-version="5.1" class="header1 cid-sFGMfPD7iT89CreateContest" id="header1-0">
    <div class="mbr-overlay" style="opacity: 0.7; background-color: rgb(255, 255, 255);"></div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-7">
                <h1 class="mbr-section-title mbr-fonts-style mb-3 display-1">
                    <strong>Update contest</strong>
                </h1>
                <p class="mbr-text mbr-fonts-style display-7">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Aenean molestie porta massa, in pretium ante auctor ac. Fusce at mi.<br>
                </p>
            </div>
        </div>
    </div>
</section>

<section data-bs-version="5.1" class="form7 cid-tBbTvz70sA" id="form7-1a">
    <div class="container-fluid">
        <div class="row justify-content-center mt-4">
            <!--<div class="col-lg-8 mx-auto mbr-form" data-form-type="formoid">-->
            <div class="col-lg-9 mx-auto mbr-form justify-content-center">

                <form method="post" th:action="${requestURI}"  th:object="${contest}" class="mbr-form form-with-styler mx-auto">
                    <div class="row">
                        <div class="dragArea row">
                            <div class="col-lg-12 col-md-12 col-sm-12 form-group mb-3" data-for="title">
                                <label class="mbr-text mbr-fonts-style display-7">Title </label>
                                <input required type="text" th:field="*{title}" placeholder="Title" name="title" data-form-field="title"
                                       class="form-control" value="" id="name-form7-1a" pattern=".{3,50}"
                                       title="Title must be between 3 and 50 characters in length">
                                <label class="error"
                                       style="position:absolute; color:darkred; white-space: nowrap; font-size: 14px"
                                       th:errors="*{title}">
                                    Title error placeholder
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 form-group mb-3" data-for="title">
                        <label class="mbr-text mbr-fonts-style display-7">Cover photo URL</label>
                        <input required type="text" th:field="*{coverPhotoName}" placeholder="Cover photo URL" class="form-control">
                        <div>
                            <label class="error"
                                   style="position:absolute; color:darkred; white-space: nowrap; font-size: 14px"
                                   th:errors="*{coverPhotoName}">
                                Cover photo URL error placeholder
                            </label>
                        </div>
                    </div>
                    <div class="col-auto mbr-section-btn align-center">
                        <button type="submit" class="btn btn-primary display-4">Submit changes</button>
                    </div>
                    <br>
                </form>
                    <form method="POST" enctype="multipart/form-data" class="mbr-form form-with-styler mx-auto"
                          th:action="@{/contests/{contestId}/upload-cover-photo(contestId=${contestId})}">
                        <label class="mbr-text mbr-fonts-style display-7">Pick local file for cover</label>
                        <br>
                        <input type="file" name="image" accept="image/*" class="form-control" required>
                        <br>
                        <div class="col-auto mbr-section-btn align-center">
                            <button type="submit" class="btn btn-primary display-4">Submit new photo</button>
                        </div>
                        <br>
                        <div>
                            <label class="mbr-text mbr-fonts-style display-7">Pick cover from contest photos</label>
                            <br>
                            <br>
                            <div class="col-auto mbr-section-btn align-center">
                            <a th:href="@{/contest-photos/pick-cover/{contestId}(contestId=${contestId})}"
                               class="btn btn-primary display-4">Choose contest photo</a>
                        </div>
                        </div>
                    </form>
<!--                    <div class="col-auto mbr-section-btn align-center">-->
<!--                        <label class="mbr-text mbr-fonts-style display-7">Pick contest photo for cover</label>-->
<!--                        <a th:href="@{/contest-photos/pick-cover/{contestId}(contestId=${contestId})}" class="btn btn-primary display-4">choose contest photo</a>-->
<!--                    </div>-->
            </div>

        </div>
    </div>
</section>



<script th:src="@{/assets/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/assets/smoothscroll/smooth-scroll.js}"></script>
<script th:src="@{/assets/ytplayer/index.js}"></script>
<script th:src="@{/assets/dropdown/js/navbar-dropdown.js}"></script>
<script th:src="@{/assets/theme/js/script.js}"></script>
<script th:src="@{/assets/formoid/formoid.min.js}"></script>

</body>
</html>