<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>NavBar</title>
</head>
<body>

<section data-bs-version="5.1" class="menu menu1 cid-tBbQRrhXI8" nonce="menu" id="menu1-13" th:fragment="navbar">
    <nav class="navbar navbar-dropdown navbar-expand-lg">
        <div class="container-fluid">
            <div class="navbar-brand">
                <span class="navbar-caption-wrap">
                  <a class="navbar-caption text-black text-primary display-7" th:href="@{/}"
                     th:unless="${isAuthenticated}">Photo Contest</a>
                  <a class="navbar-caption text-black text-primary display-7" th:href="@{/profile}"
                     th:if="${isAuthenticated}">Welcome, <span th:text="${currentUserName}"></span></a>
                </span>
            </div>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav nav-dropdown" data-app-modern-menu="true">
                    <li class="nav-item">
                        <a class="nav-link link text-black show display-7" th:if="${isOrganizer}" th:href="@{/organizer-home}" aria-expanded="false">Home</a>
                        <a class="nav-link link text-black show display-7" th:if="${isAuthenticated}" th:unless="${isOrganizer}" th:href="@{/home}" aria-expanded="false">Home</a>
                        <a class="nav-link link text-black show display-7" th:unless="${isAuthenticated}" th:href="@{/}" aria-expanded="false">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link link text-black display-7" th:href="@{/about}">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link link text-black display-7" th:if="${isAuthenticated}" th:unless="${isOrganizer}"
                           th:href="@{/contests}" aria-expanded="false">Contests</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link link text-black display-7" th:if="${isOrganizer}"
                           th:href="@{/panel}" aria-expanded="false">Panel</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link link dropdown-toggle text-black show display-7" th:if="${isOrganizer}"
                           data-toggle="dropdown-submenu" data-bs-toggle="dropdown"
                           data-bs-auto-close="outside" aria-expanded="true">Contests</a>
                        <div class="dropdown-menu show" aria-labelledby="dropdown-278" data-bs-popper="none">
                            <a class="dropdown-item text-black display-7" th:href="@{/contests}">All contests</a>
                            <a class="dropdown-item text-black display-7" th:href="@{/contests/new}">Create</a>
                            <a class="dropdown-item text-black display-7" th:href="@{/contests/phase-one}">Phase I</a>
                            <a class="dropdown-item text-black display-7" th:href="@{/contests/phase-two}">Phase II</a>
                            <a class="dropdown-item text-black display-7" th:href="@{/contests/finished}">Finished</a>
<!--                            <div class="dropdown">-->
<!--                                <a class="dropdown-item dropdown-toggle text-black display-7"-->
<!--                                   th:href="@{/contests/finished}" data-toggle="dropdown-submenu"-->
<!--                                   data-bs-toggle="dropdown" data-bs-auto-close="outside"-->
<!--                                   aria-expanded="false">Finished</a>-->
<!--                                <div class="dropdown-menu dropdown-submenu" aria-labelledby="dropdown-920">-->
<!--                                    <a class="dropdown-item text-black display-7"-->
<!--                                       th:href="@{/contests/winners}">Winners</a>-->
<!--                                </div>-->
<!--                            </div>-->
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link link text-black display-7" th:href="@{/contacts}">Contacts</a>
                    </li>
                </ul>
                <div class="navbar-buttons mbr-section-btn">
                    <a class="btn btn-white display-4" th:unless="${isAuthenticated}" th:href="@{/auth/login}">Log
                        In</a>
                    <a class="btn btn-white display-4" th:unless="${isAuthenticated}" th:href="@{/auth/register}">Register</a>
                    <a class="btn btn-white display-4" th:if="${isAuthenticated}" th:href="@{/auth/logout}">Log Out</a>
                </div>
            </div>
        </div>
    </nav>
</section>
</body>
</html>


<!--

<section data-bs-version="5.1" class="menu menu1 cid-tB9NjVzOmz" once="menu" id="menu1-e" th:fragment="navbar">


  <nav class="navbar navbar-dropdown navbar-expand-lg">
    <div class="container-fluid">
      <div class="navbar-brand">

        <span class="navbar-caption-wrap"><a class="navbar-caption text-black text-primary display-7" href="page8.html">(Username) , (Organizer, Rank: Photo Dictator 2000p)</a></span>
      </div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-bs-toggle="collapse" data-target="#navbarSupportedContent" data-bs-target="#navbarSupportedContent" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <div class="hamburger">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
        </div>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav nav-dropdown" data-app-modern-menu="true"><li class="nav-item"><a class="nav-link link text-black show display-7" href="#top" aria-expanded="false">Home</a></li><li class="nav-item"><a class="nav-link link text-black display-7" href="index.html#features12-6">About</a></li>
          <li class="nav-item"><a class="nav-link link text-black display-7" href="index.html#features3-4" aria-expanded="false">Panel</a></li><li class="nav-item dropdown"><a class="nav-link link dropdown-toggle text-black show display-7" href="index.html#features3-4" data-toggle="dropdown-submenu" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="true">Contests</a><div class="dropdown-menu show" aria-labelledby="dropdown-278" data-bs-popper="none"><a class="dropdown-item text-black display-7" href="index.html#features3-4">Phase I</a><a class="dropdown-item text-black display-7" href="index.html#features3-4">Phase II</a><div class="dropdown"><a class="dropdown-item dropdown-toggle text-black display-7" href="index.html#features3-4" data-toggle="dropdown-submenu" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">Finished</a><div class="dropdown-menu dropdown-submenu" aria-labelledby="dropdown-920"><a class="dropdown-item text-black display-7" href="index.html#features3-4">Winners</a></div></div></div></li>
          <li class="nav-item"><a class="nav-link link text-black display-7" href="index.html#form5-d">Contacts</a>
          </li></ul>

        <div class="navbar-buttons mbr-section-btn"><a class="btn btn-white display-4" href="https://mobiri.se">Log In</a> <a class="btn btn-white display-4" href="https://mobiri.se">Register</a></div>
      </div>
    </div>
  </nav>
</section>-->
